################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HERO Motion Profile Example/~$Motion Profile Generator.xlsx
